{% extends 'base.html' %}
{% block style %}<link rel="stylesheet" href="{{ url_for('static', filename='change-login.css') }}">{% endblock %}
{% block title %}Account - {% endblock %}
{% block header %}
    <h1></h1>
{% endblock %}
{% block content %}
    <form id="change_pw_form" action="{{ url_for('account.change_login') }}" method="POST">
        <label for="email" class="form_label">Email</label>
        <input name="email" id="email" value="{{ account_info['email'] }}">
        <label for="email_confirm" class="form_label">New email</label>
        <input name="email_confirm" id="email_confirm">
        <label for="new_pw" class="form_label">New password</label>
        <input type="password" name="new_pw" id="new_pw">
        <label for="new_pw_confirm" class="form_label">Confirm New Password</label>
        <input type="password" name="new_pw_confirm" id="new_pw_confirm">
        <label for="old_pw" class="form_label">Old password</label>
        <input type="password" name="old_pw" id="old_pw">
        <button type="submit" id="save_btn">SAVE</button> 
    </form>
    <form id="back_form" action="{{ url_for('study_timer.account') }}">
        <button type="submit" id="back_btn">BACK</button>
    </form>
{% endblock %} 