#account_box {
    width: 600px;
    margin: auto;
    margin-top: 20vh;
}

#account_content {
    width: 500px;
    margin: auto;
}

#change_pw_box {
    width: 600px;
    margin: auto;
    margin-top: 20vh;
}

#change_pw_content {
    width: 500px;
    margin: auto;
}

body {
    font-family: Garamond;
    font-weight: bolder;
}
