{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
{% endblock %}

{% block title %}Register - {% endblock %}
{% block header %}
{% endblock %}

{% block content %}
<form method="post" id="register_form">
    <label for="username" class="form_label">Username</label>
    <input type="text" name="username" id="username" maxlength="15" required>
    <label for="email" class="form_label">Email</label>
    <input type="email" name="email" id="email" required>
    <label for="email_confirm" class="form_label">Confirm Email</label>
    <input type="email" name="email_confirm" id="email_confirm" required>
    <label for="password" class="form_label">Password</label>
    <input type="password" name="password" id="password" maxlength="15" required>
    <label for="password_confirm" class="form_label">Confirm Password</label>
    <input type="password" name="password_confirm" id="password_confirm" maxlength="15" required>
    <input type="submit" value="REGISTER" id="register_btn">
</form>
{% endblock %}