{% extends 'base.html' %}
{% block style %}<link rel="stylesheet" href="{{ url_for('static', filename='history.css') }}">{% endblock %}
{% block title %}History - {% endblock %}
{% block header %}
    <h1></h1>
{% endblock %}

{% block content %}
    <div id="user_data">
        <h1>STUDY STREAK: {{ user_data['streak'] }} </h1>
        <h1>DAILY STUDY GOAL: {{ user_data['min_study_time'] }} min</h1>
        <h1>TOTAL TIME: <!--{{ user_data['total_time'] }} --></h1>
        <h1>LONGEST STREAK: <!--{{ user_data['longest_streak'] }} --></h1>
    </div>
    <div id="history_box">
        <h1 id="register_heading">TIME REGISTERS:</h1>
    {% for history in timer_history %}
        <div class="history_content">
            <p>TIME RECORD: {{ history['hours'] }} : {{ history['minutes'] }} : {{ history['seconds'] }}</p>
            <p>DATE: {{ history['created_date'] }}</p>
            <p>TIME: {{ history['created_time'] }}</p> 
        </div>
        {% if not loop.last %}
        {% endif %}
    {% endfor %}
    </div>
{% endblock %} 