<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Icons made by Raj Dev from https://freeicons.io/profile/714 -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get to study - History</title>
    <link rel="stylesheet" href="/static/reset.css">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div id="container">
        <nav id="top_bar">
            <ul id="main_menu">
                <li><a href="/">Home</a></li>
                <li><a href="/history">My History</a></li>
                <li><a href="/tips">Useful tips</a></li>
                <li><a href="/about">About</a></li>
            </ul>
            <ul id="login_menu">
                <li><a href="/login">Sign In</a></li>
                <li><a href="/register">Sign Up</a></li>
            </ul>
        </nav>
        <main id="content_container">
        </main>
        <footer id="footer">Igor F. Vicente - 2020 - CS50 Final Project</footer>
    </div>
</body>
</html>