{% extends 'base.html' %}
<!-- icon from: https://freeicons.io/icon-list/business-and-online-icons color changes made to fit dark mode*/ -->
{% block style %}
{% if g.user['dark_mode'] == 'yes' %}
<link rel="stylesheet" href="{{ url_for('static', filename='index_dark.css') }}">
{% else %}
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
{% endif %}
{% endblock %}
{% block content %}
    <main id="content_container">
        <form id="timer_form" action="{{ url_for('study_timer.save') }}" method="POST">    
            <div id="stopwatch_container">
                <div id="study_timer">00:00:00
                </div>
                <div id="start_study_timer">
                    <button type="button" id="play_btn" class="img_btn" onclick="startTimer()"></button>
                </div>
                <div id="pause_study_timer">
                    <button type="button" id="pause_btn" class="img_btn" onclick="pauseTimer()"></button>
                </div>
                <div id="stop_study_timer">
                    <button type="button" id="reset_btn" class="img_btn" onclick="resetTimer()"></button>
                </div>
                <input type="text" name="timer_repeat" id="timer_repeat" value="00:00:00">
                <div id="save_register">
                    <button id="save_btn" class="img_btn" type="button" onclick="save()"></button>
                </div>
            </div>
        </form>
    </main>
    <div id="study_music">
        <div id="study_text">Wanna hear some music?
        <img {% if g.user['dark_mode'] == 'yes' %} src="../static/img/down_icon_white.svg" {% else %} src="../static/img/down_icon.svg" {% endif %} class="icon" onclick="videoToggle()">
        </div>
        <iframe id="embed_video" width="560" height="315" src="https://www.youtube.com/embed/5qap5aO4i9A" frameborder="0" allow="clipboard-write; encrypted-media; gyroscope; picture-in-picture" ></iframe>
    </div>
    <footer id="footer"><a href="https://github.com/IgorFVicente/CS50FinalProject">Igor F. Vicente - 2020 - CS50 Final Project
        <img {% if g.user['dark_mode'] == 'yes' %} src="../static/img/github_white.svg" {% else %} src="../static/img/github.svg" {% endif %} id="git_icon"></a></footer>
    <script type="text/javascript" src="/static/script.js"></script>
{% endblock %}
